{
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "printWidth": 140,
    "endOfLine": "crlf",
    "importOrder": [
        "^vue",
        "<THIRD_PARTY_MODULES>",
        "^(~(components|router|store|views))(/.*)$",
        "^(~(assets|constants|configs|mocks|styles|types|utils))(/.*)$",
        "^(?!.*[.](css|less|scss)$)[./].*$",
        "<TYPES>",
        "",
        ".(css|less|scss)$"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true,
    "importOrderTypeScriptVersion": "5.2.2",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
